<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


</head>

<body>
<div class="mid">
  <form class="container" action="/task/new" method="post">
<label>
    <input type="text" name="task_name" ></label>
    <label for=""><input type="text" name="task_description"></label>
<label for=""><input type="text" name="creator" ></label>
    <label for=""><input type="text" name="duration" ></label>
    <button type="submit" >Submit</button>
  </form>


</div>






</body>

</html>
