.mid{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
height: 100vh;


}

.container{

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40%;
  border: 1px solid black;
  padding-top: 100px;


}
